# Hand-written NAMESPACE for lebesgueFDA

export(chord_path)
export(design_truth)
export(held_path)
export(midpoint_path)
export(path_eval)
export(path_inner)
export(path_linear)
export(sim_coefficients)
export(sim_curves)
export(sim_records)
export(sim_sod)
export(sod_band)
export(sod_compatible)
export(sod_cov)
export(sod_eigenfunctions)
export(sod_encode)
export(sod_encode_curve)
export(sod_encode_sample)
export(sod_envelopes)
export(sod_fpca)
export(sod_linear_bounds)
export(sod_mean)
export(sod_midpoint_risk)
export(sod_paths)
export(sod_readings)
export(sod_reconstruct)
export(sod_record)
export(sod_width)
export(sod_width_range)

S3method(predict, sod_fpca)
S3method(print, sod_band)
S3method(print, sod_fpca)
S3method(print, sod_record)

importFrom(stats, approx, dnorm, pnorm, predict, rbinom, rnorm, runif)
